<!DOCTYPE html>
<title>Scaling Viki - {{ page.title }}</title>
<meta charset="utf-8">
<link href=/assets/viki.css rel=stylesheet>
<script src=/assets/rainbow.js></script>
<script>
  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-31013180-1']); _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<div id=content>
  <h2>{{ page.title }}</h2>
  {{ content }}
  <div id="comments">
  <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink attribution">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  <script>
  var disqus_identifier = '{{ page.url }}';
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://karlseguin.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=karlseguin">comments powered by Disqus.</a></noscript>
</div>
<div id=menu>
  <h1><a href=/scaling-viki/>Scaling Viki</a></h1>
  <h3>By Karl Seguin</h3>
  <p><a href=/scaling-viki/Chapter-1-Introduction>1 - Introduction</a></p>
  <p><a href=/scaling-viki/Chapter-2-The-Core>2 - The Core</a></p>
  <p><a href=/scaling-viki/Chapter-3-Holdbacks>3 - Holdbacks</a></p>
  <p><a href=/scaling-viki/Chapter-4-Tweaks>4 - Tweaks</a></p>
  <p><a href=/scaling-viki/Chapter-5-Surprisingly-Reusable>5 - Surprisingly Reusable</a></p>
  <p><a href=/scaling-viki/Chapter-6-Writes-Bloat-and-Queues>6 - Writes, Bloat and Queues</a></p>
  <p><a href=/scaling-viki/Chapter-7-Conclusion>7 - Conclusion</a></p>
  <h2>Appendices</h2>
  <p><a href=/scaling-viki/Appendix-A-Why-Node>A - Why Node?</a></p>
  <p><a href=/scaling-viki/Appendix-B-I-Love-Premature-Optimizations>B - I Love Premature Optimizations</a></p>
  <p><a href=/scaling-viki/Appendix-C-Our-Simple-AutoComplete>C - Our Simple AutoComplete</a></p>
  <h2>Free Download</h2>
  <p id=dl><a href=/assets/viki/scaling-viki.pdf>pdf</a> <a href=/assets/viki/scaling-viki.epub>epub</a> <a href=/assets/viki/scaling-viki.mobi>kindle</a> <a href=https://github.com/karlseguin/scaling-viki>github</a></p>
  <br />
  <a class="send-to-readmill" href="https://readmill.com" data-download-url="http://openmymind.net/assets/viki/scaling-viki.epub" data-display="large">Send to Readmill</a>
    <script type="text/javascript">
    (function() {
    var st = document.createElement('script'); st.type = 'text/javascript'; st.async = true;
    st.src = 'https://platform.readmill.com/send.js';
    var p = document.getElementsByTagName('script')[0]; p.parentNode.insertBefore(st, p);
    })();
    </script>
</div>
